<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Ideoclick, Inc.</title>
    {% load staticfiles %}
    <link rel="shortcut icon" type="image/png" href="{% static 'main/img/favicon.ico' %}"/>
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="{% static 'main/scrollingnavbar/vendor/bootstrap/css/bootstrap.css' %}">
    <!-- Custom styles for this template -->
    <link rel="stylesheet" href="{% static 'main/scrollingnavbar/css/scrolling-nav.css' %}">
    <!-- Template Main Style Sheet -->
    <link rel="stylesheet" href="{% static 'main/css/index.css' %}">
  </head>

  <body id="page-top">

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
      <div class="container">
        <!-- <a class="navbar-brand js-scroll-trigger" href="#page-top">Start Bootstrap</a> -->
        <a class="navbar-brand js-scroll-trigger" href="#page-top"><img src="{% static 'main/img/ideoclick.png' %}" alt="Ideoclick Logo" height="50px"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#about">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#services">Services</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#clients">Clients</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#partners">Solution Partners</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#contact">Contact</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="http://ideoclick.net/Login">Client Login</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <header class="bg-primary text-white">
      <div class="container text-center">
        <div class="hleft">
          <img src="{% static 'main/img/ideoclick_lightbulb.png' %}" alt="Ideoclick Lightbulb" height="278px">
        </div>
        <div class="hright">
          <h1>Welcome to Ideoclick</h1>
          <p class="lead"><strong>Leverage the Industry-Leading Experience of the Ideoclick Team! <br>  Get a Free Quote on Our Services </strong></p>
          <a class="nav-link js-scroll-trigger" href="#"><button type="button" class="btn btn-lg btn-default">Request Now</button></a>

        </div>
      </div>
    </header>

    <section id="about">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto">
            <h2>About</h2>
            <p class="lead">Founded in 2008, Ideoclick builds software and tools to enable manufacturers and retailers to better
              control and grow the ecommerce channel.  We help launch and manage products using a suite of software
              to ensure you always know what is going on with your products and are proactively adapting and growing your business.</p>
            <p><a href="/team#leadership">Leadership</a>&nbsp;|&nbsp;<a href="/team#operations">Operations</a>&nbsp;|&nbsp;<a href="/team#catalog">Catalog</a>&nbsp;|&nbsp;<a href="/team#accountmanagement">Account Management</a>&nbsp;|&nbsp;<a href="/team#development">Development</a>&nbsp;|&nbsp;<a href="/team#marketing">Marketing</a>&nbsp;|&nbsp;<a href="/team#support">Support</a></p>
          </div>
        </div>
      </div>
    </section>

    <section id="services" class="bg-light">
      <div class="container marketing">
        <div class="col-lg-8 mx-auto">
        <div class="row">
            <h2>Services</h2>
            <p class="lead">Ideoclick provides tools and services that accelerate the digital path-to-purchase.</p>
        </div>
          <div class="row justify-content-center">
            <div class="col-lg-4" align="center">
              <a href="/fulfillment">
                <img src="{% static 'main/img/services/fulfillment.png' %}" alt="Ideoclick Lightbulb" height="67px">
                <h5>Fulfillment & Retail Services</h5>
                <h6>Expert Team to Optimize your Amazon Retail and FBA Businesses</h6>
              </a>
            </div>
            <div class="col-lg-4" align = "center">
              <a href="/marketing">
                <img src="{% static 'main/img/services/subscription.png' %}" alt="Ideoclick Lightbulb" height="67px">
                <h5>Amazon Marketing Services</h5>
                <h6>AMS, AAP, and AMG</h6>
              </a>
            </div>
            <div class="col-lg-4" align = "center">
              <a href="/estoremonetization">
                <img src="{% static 'main/img/services/estore.png' %}" alt="Ideoclick Lightbulb" height="67px">
                <h5>Consulting Services</h5>
                <h6>Our Consulting Services help accelerate your journey. We guide you from strategy to implementation.</h6>
              </a>
            </div>

            <div class="col-lg-4" align="center">
              <a href="/itemmonitor">
                <img src="{% static 'main/img/services/itemmonitor.png' %}" alt="Ideoclick Lightbulb" height="67px">
                <h5>Item Monitor</h5>
                <h6>Ensure Data Quality, In-Stock Rates and Item Performance</h6>
              </a>
            </div>
            <div class="col-lg-4" align = "center">
              <a href="/contentdevelopment">
                <img src="{% static 'main/img/services/contentmanagement.png' %}" alt="Ideoclick Lightbulb" height="67px">
                <h5>Content Development</h5>
                <h6><strong>Amazon SEO Writing:</strong></h6>
                <h6>Bullet Points, Titles, Descriptions, A+ Content, and Brand Stores</h6>
              </a>
            </div>
          </div>
          </div>
        </div>
    </section>

    <section id="clients">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 mx-auto" align="center">
            <h2 align="left" class="adjust">Some Companies We Work With</h2>
            <p class="lead adjust" align="left"></p>
            {%for client in client%}
            <div class="cl1"><img src="https://ideoclick.s3.amazonaws.com/media/{{client.client_image}}" alt=""></div>
            {%endfor%}
            <a href="/clients"><div class="cl1"><img src="{% static 'main/img/viewall.png' %}" alt="View All"></div></a>
          </div>
        </div>
      </div>
    </section>

    <section id="partners">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 mx-auto" align="center">
            <h2 align="left" class="adjust2">Our Solution Partners</h2>
            <p class="lead adjust2" align="left"></p>
            <a href="https://www.amazon.com/"><div class="cl2"><img src="{% static 'main/img/partners/amazon-logo.png' %}" alt=""></div></a>
            <a href="https://www.authorize.net/"><div class="cl2"><img src="{% static 'main/img/partners/authorizenet_logo.png' %}" alt=""></div></a>
            <a href="https://www.europasports.com/"><div class="cl2"><img src="{% static 'main/img/partners/europa.png' %}" alt=""></div></a>
            <a href="https://pay.amazon.com/us/merchant"><div class="cl2"><img src="{% static 'main/img/partners/logo_payments_atoz.gif' %}" alt=""></div></a>
            <a href="https://www.nmi.com/"><div class="cl2"><img src="{% static 'main/img/partners/Network_Merchants.png' %}" alt=""></div></a>
            <a href="https://www.paypal.com/us/home"><div class="cl2"><img src="{% static 'main/img/partners/paypal_logo.png' %}" alt=""></div></a>
          </div>
        </div>
      </div>
    </section>

    <section id="contact">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto">
            <h2>Contact us</h2>
            <p class="lead"></p>
            <div class="cleft">
              <ul>
                <li><strong>Address:</strong> 568 1st Avenue South #550, Seattle, WA 98104</li>
                <li><strong>Phone:</strong> (206) 851-9922</li>
                <!-- <li>Fax: </li> -->
                <li><strong>Email:</strong> info@ideoclick.com</li>
              </ul>
              <a href="#"></a>
              <a href=""></a>
            </div>
            <div class="cright">
              <iframe width="100%" height="250" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?q=place_id:ChIJCQ42JaVqkFQR7IEHMUHStQ0&key=AIzaSyCQLoayVmUfzKKV7iKVR6Ivy0nRX_2QZ-c" allowfullscreen></iframe>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- Footer -->
    <footer class="py-5 bg-dark">
      <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; Ideoclick, Inc. 2017 &nbsp;&nbsp;&nbsp;&nbsp; <a href="/press" style="color:white">Press</a> &nbsp;&nbsp;&nbsp;&nbsp; <a href="https://www.facebook.com/pages/IdeoClick/194806000542478" target="_blank"><img src="{% static 'main/img/social/facebook-logo-fix.svg' %}" alt="None" style="max-height: 30px"></a> &nbsp;&nbsp;&nbsp;&nbsp; <a href="https://twitter.com/#!/IdeoClick" target="_blank"><img src="{% static 'main/img/social/twitter-logo-silhouette.svg' %}" alt="None" style="max-height: 30px">  </p></a>
      </div>
      <!-- /.container -->
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="{% static 'main/scrollingnavbar/vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'main/scrollingnavbar/vendor/popper/popper.min.js' %}"></script>
    <script src="{% static 'main/scrollingnavbar/vendor/bootstrap/js/bootstrap.min.js' %}"></script>

    <!-- Plugin JavaScript -->
    <script src="{% static 'main/scrollingnavbar/vendor/jquery-easing/jquery.easing.min.js' %}"></script>

    <!-- Custom JavaScript for this theme -->
    <script src="{% static 'main/scrollingnavbar/js/scrolling-nav.js' %}"></script>

  </body>

</html>
