<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Ideoclick, Inc.</title>
    {% load staticfiles %}
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="{% static 'main/scrollingnavbar/vendor/bootstrap/css/bootstrap.min.css' %}">
    <!-- Custom styles for this template -->
    <link rel="stylesheet" href="{% static 'main/scrollingnavbar/css/scrolling-nav.css' %}">
    <!-- Template Main Style Sheet -->
    <link rel="stylesheet" href="{% static 'main/css/index.css' %}">
    <!-- Template Image Style Sheet -->
    <link rel="stylesheet" href="{% static 'main/bootstrap/carousel.css' %}">
  </head>

  <body id="page-top">

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
      <div class="container">
        <!-- <a class="navbar-brand js-scroll-trigger" href="#page-top">Start Bootstrap</a> -->
        <a class="navbar-brand js-scroll-trigger" href="#page-top"><img src="{% static 'main/img/ideoclick.png' %}" alt="Ideoclick Logo" height="50px"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#about">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#services">Services</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#clients">Clients</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#partners">Solution Partners</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#contact">Contact</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <br><br>
    <section id="leadership">
      <div class="container marketing">
        <!-- Three columns of text below the navbar -->
        <div class="row">
          <h1>Leadership</h1>
        </div>
      <div class="row justify-content-center">
        <div class="col-lg-4">
          <img class="rounded-circle" src="{% static 'main/img/team/leadership/justinleigh.jpg' %}" alt="Generic placeholder image" width="140" height="140">
          <h2>Justin Leigh</h2>
          <p>Founder</p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <img class="rounded-circle" src="{% static 'main/img/team/leadership/tomfurphy.jpg' %}" alt="Generic placeholder image" width="140" height="140">
          <h2>Tom Furphy</h2>
          <p>...</p>
        </div><!-- /.col-lg-4 -->
      </div><!-- /.row -->
      <div class="row">
        <div class="col-lg-4">
          <img class="rounded-circle" src="{% static 'main/img/team/leadership/andyburger.jpg' %}" alt="Generic placeholder image" width="140" height="140">
          <h2>Andy Burger</h2>
          <p>Vice President of Business Development</p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <img class="rounded-circle" src="{% static 'main/img/team/leadership/mikeburrington.jpg' %}" alt="Generic placeholder image" width="140" height="140">
          <h2>Mike Burrington</h2>
          <p>Vice President of Operations & Client Services</p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <img class="rounded-circle" src="{% static 'main/img/team/leadership/andrealeigh.jpg' %}" alt="Generic placeholder image" width="140" height="140">
          <h2>Andrea Leigh</h2>
          <p>Vice President of Client Services</p>
        </div><!-- /.col-lg-4 -->
      </div><!-- /.row -->
      </div>
    </section>

    <section id="leadership" class="bg-light">
      <div class="container marketing">
        <!-- Three columns of text below the navbar -->
        <div class="row">
          <h1>Leadership</h1>
        </div>
      <div class="row justify-content-center">
        <div class="col-lg-4">
          <img class="rounded-circle" src="{% static 'main/img/team/leadership/justinleigh.jpg' %}" alt="Generic placeholder image" width="140" height="140">
          <h2>Justin Leigh</h2>
          <p>Founder</p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <img class="rounded-circle" src="{% static 'main/img/team/leadership/tomfurphy.jpg' %}" alt="Generic placeholder image" width="140" height="140">
          <h2>Tom Furphy</h2>
          <p>...</p>
        </div><!-- /.col-lg-4 -->
      </div><!-- /.row -->
      <div class="row">
        <div class="col-lg-4">
          <img class="rounded-circle" src="{% static 'main/img/team/leadership/andyburger.jpg' %}" alt="Generic placeholder image" width="140" height="140">
          <h2>Andy Burger</h2>
          <p>Vice President of Business Development</p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <img class="rounded-circle" src="{% static 'main/img/team/leadership/mikeburrington.jpg' %}" alt="Generic placeholder image" width="140" height="140">
          <h2>Mike Burrington</h2>
          <p>Vice President of Operations & Client Services</p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <img class="rounded-circle" src="{% static 'main/img/team/leadership/andrealeigh.jpg' %}" alt="Generic placeholder image" width="140" height="140">
          <h2>Andrea Leigh</h2>
          <p>Vice President of Client Services</p>
        </div><!-- /.col-lg-4 -->
      </div><!-- /.row -->
      </div>
    </section>

    <section id="clients">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 mx-auto" align="center">
            <h2 align="left" class="adjust">Our Clients</h2>
            <p class="lead adjust" align="left"></p>
            <div class="cl1"><img src="{% static 'main/img/clients/logo-campbells.png' %}" alt=""></div>
            <div class="cl1"><img src="{% static 'main/img/clients/logo-clx.png' %}" alt=""></div>
            <div class="cl1"><img src="{% static 'main/img/clients/logo-coke.png' %}" alt=""></div>
            <div class="cl1"><img src="{% static 'main/img/clients/logo-colgate.png' %}" alt=""></div>
            <div class="cl1"><img src="{% static 'main/img/clients/logo-energizer.png' %}" alt=""></div>
            <div class="cl1"><img src="{% static 'main/img/clients/logo-kelloggs.png' %}" alt=""></div>
            <div class="cl1"><img src="{% static 'main/img/clients/logo-mccormick.png' %}" alt=""></div>
            <div class="cl1"><img src="{% static 'main/img/clients/logo-pg.png' %}" alt=""></div>
            <div class="cl1"><img src="{% static 'main/img/clients/logo-pfizer.png' %}" alt=""></div>
            <div class="cl1"><img src="{% static 'main/img/clients/logo-philips.png' %}" alt=""></div>
            <div class="cl1"><img src="{% static 'main/img/clients/logo-pricesmart.png' %}" alt=""></div>
            <div class="cl1"><img src="{% static 'main/img/clients/logo-purina.png' %}" alt=""></div>
            <div class="cl1"><img src="{% static 'main/img/clients/logo-scjohnson.jpg' %}" alt=""></div>
            <div class="cl1"><img src="{% static 'main/img/clients/logo-unilever.png' %}" alt=""></div>
            <div class="cl1"><img src="{% static 'main/img/clients/logo-wrigley.png' %}" alt=""></div>
            <div class="cl1"><img src="{% static 'main/img/clients/logo-oberto.png' %}" alt=""></div>
            <div class="cl1"><img src="{% static 'main/img/clients/logo-zico.png' %}" alt=""></div>
            <div class="cl1"><img src="{% static 'main/img/clients/logo-ricola.png' %}" alt=""></div>
            <div class="cl1"><img src="{% static 'main/img/clients/logo-pop.png' %}" alt=""></div>
            <div class="cl1"><img src="{% static 'main/img/clients/logo-hw.png' %}" alt=""></div>
            <div class="cl1"><img src="{% static 'main/img/clients/logo-walkers.png' %}" alt=""></div>
            <div class="cl1"><img src="{% static 'main/img/clients/logo-openroad.png' %}" alt=""></div>
            <div class="cl1"><img src="{% static 'main/img/clients/logo-mocafe.png' %}" alt=""></div>
            <div class="cl1"><img src="{% static 'main/img/clients/logo-modernoats.png' %}" alt=""></div>
            <div class="cl1"><img src="{% static 'main/img/clients/logo-conifer.png' %}" alt=""></div>
            <div class="cl1"><img src="{% static 'main/img/clients/logo-crockpot.png' %}" alt=""></div>
            <div class="cl1"><img src="{% static 'main/img/clients/logo-fisher.png' %}" alt=""></div>
            <div class="cl1"><img src="{% static 'main/img/clients/logo-got2b.png' %}" alt=""></div>
          </div>
        </div>
      </div>
    </section>


    <section id="partners">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 mx-auto" align="center">
            <h2 align="left" class="adjust2">Our Solution Partners</h2>
            <p class="lead adjust2" align="left"></p>
            <div class="cl2"><img src="{% static 'main/img/partners/amazon-logo.png' %}" alt=""></div>
            <div class="cl2"><img src="{% static 'main/img/partners/authorizenet_logo.png' %}" alt=""></div>
            <div class="cl2"><img src="{% static 'main/img/partners/europa.png' %}" alt=""></div>
            <div class="cl2"><img src="{% static 'main/img/partners/logo_payments_atoz.gif' %}" alt=""></div>
            <div class="cl2"><img src="{% static 'main/img/partners/Network_Merchants.png' %}" alt=""></div>
            <div class="cl2"><img src="{% static 'main/img/partners/paypal_logo.png' %}" alt=""></div>
          </div>
        </div>
      </div>
    </section>

    <section id="contact">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto">
            <h2>Contact us</h2>
            <p class="lead"></p>
            <div class="cleft">
              <ul>
                <li><strong>Address:</strong> 568 1st Avenue South #550, Seattle, WA 98104</li>
                <li><strong>Phone:</strong> (206) 851-9922</li>
                <!-- <li>Fax: </li> -->
                <li><strong>Email:</strong> info@ideoclick.com</li>
              </ul>
              <a href="#"></a>
              <a href=""></a>
            </div>
            <div class="cright">
              <iframe width="100%" height="250" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?q=place_id:ChIJCQ42JaVqkFQR7IEHMUHStQ0&key=AIzaSyCQLoayVmUfzKKV7iKVR6Ivy0nRX_2QZ-c" allowfullscreen></iframe>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- Footer -->
    <footer class="py-5 bg-dark">
      <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; Ideoclick, Inc. 2017</p>
      </div>
      <!-- /.container -->
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="{% static 'main/scrollingnavbar/vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'main/scrollingnavbar/vendor/popper/popper.min.js' %}"></script>
    <script src="{% static 'main/scrollingnavbar/vendor/bootstrap/js/bootstrap.min.js' %}"></script>

    <!-- Plugin JavaScript -->
    <script src="{% static 'main/scrollingnavbar/vendor/jquery-easing/jquery.easing.min.js' %}"></script>

    <!-- Custom JavaScript for this theme -->
    <script src="{% static 'main/scrollingnavbar/js/scrolling-nav.js' %}"></script>

  </body>

</html>
