<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Ideoclick, Inc.</title>
    {% load staticfiles %}
    <link rel="shortcut icon" type="image/png" href="{% static 'main/img/favicon.ico' %}"/>
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="{% static 'main/scrollingnavbar/vendor/bootstrap/css/bootstrap.min.css' %}">
    <!-- Custom styles for this template -->
    <link rel="stylesheet" href="{% static 'main/scrollingnavbar/css/scrolling-nav.css' %}">
    <!-- Template Main Style Sheet -->
    <link rel="stylesheet" href="{% static 'main/css/index.css' %}">
  </head>

  <body id="page-top">

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
      <div class="container">
        <!-- <a class="navbar-brand js-scroll-trigger" href="#page-top">Start Bootstrap</a> -->
        <a class="navbar-brand js-scroll-trigger" href="/"><img src="{% static 'main/img/ideoclick.png' %}" alt="Ideoclick Logo" height="50px"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="/#about">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="/#services">Services</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="/#clients">Clients</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="/#partners">Solution Partners</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="/#contact">Contact</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

  <br><br>
  <section id="leadership">
    <div class="container marketing">
      <!-- Three columns of text below the navbar -->
    <div class="row justify-content-center" align="center">
      <div class="col-lg-4">
        <img src="{% static 'main/img/services/demanddriver.png' %}" alt="Ideoclick Lightbulb" height="125px">
        <h1>IDEOCLICK XCM™</h1><br>
        <hr>
      </div>
    </div><!-- /.row -->
    <div class="row justify-content-center" align="center">
      <div class="col-lg-10">
        <h2>Content Management / Content Monitoring</h2>
        <p>Digital assets include brand websites, ads, Facebook pages, blogs, mobile apps – anywhere that the brand controls the code for a placement. Traffic to a brand’s digital assets is valuable:</p>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-lg-10">
        <ul>
          <li><h5>It is Qualified:</h5> <p>By visiting a brand property, customers demonstrate interest in the brand.</p></li>
          <li><h5>It is Intelligent:</h5> <p>Visitor behavior demonstrates an understanding of the brand.</p></li>
          <li><h5>It is Relevant:</h5> <p>Visits and clickstream behavior demonstrate purchase intent.</p></li>
        </ul>
      </div>
    </div>
    <div class="row justify-content-center" align="center">
      <div class="col-lg-10">
        <p>When shared, the concentrated activity from these assets has substantial influence on the merchandising programs of e-tail and omni-channel sites. A must-include in any marketing budget - sharing this data further leverages the traffic that’s already been acquired through existing marketing spend.</p>
      </div>
    </div>
  </section>

    <!-- Footer -->
    <footer class="py-5 bg-dark">
      <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; Ideoclick, Inc. 2017</p>
      </div>
      <!-- /.container -->
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="{% static 'main/scrollingnavbar/vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'main/scrollingnavbar/vendor/popper/popper.min.js' %}"></script>
    <script src="{% static 'main/scrollingnavbar/vendor/bootstrap/js/bootstrap.min.js' %}"></script>

    <!-- Plugin JavaScript -->
    <script src="{% static 'main/scrollingnavbar/vendor/jquery-easing/jquery.easing.min.js' %}"></script>

    <!-- Custom JavaScript for this theme -->
    <script src="{% static 'main/scrollingnavbar/js/scrolling-nav.js' %}"></script>

  </body>

</html>
