<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Ideoclick, Inc.</title>
    {% load staticfiles %}
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="{% static 'main/scrollingnavbar/vendor/bootstrap/css/bootstrap.min.css' %}">
    <!-- Custom styles for this template -->
    <link rel="stylesheet" href="{% static 'main/scrollingnavbar/css/scrolling-nav.css' %}">
    <!-- Template Main Style Sheet -->
    <link rel="stylesheet" href="{% static 'main/css/index.css' %}">
  </head>

  <body id="page-top">

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
      <div class="container">
        <!-- <a class="navbar-brand js-scroll-trigger" href="#page-top">Start Bootstrap</a> -->
        <a class="navbar-brand js-scroll-trigger" href="/"><img src="{% static 'main/img/ideoclick.png' %}" alt="Ideoclick Logo" height="50px"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="/#about">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="/#services">Services</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="/#clients">Clients</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="/#partners">Solution Partners</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="/#contact">Contact</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

  <br><br>
  <section id="leadership">
    <div class="container marketing">
      <!-- Three columns of text below the navbar -->
    <div class="row justify-content-center" align="center">
      <div class="col-lg-10">
        <img src="{% static 'main/img/services/fulfillment.png' %}" alt="Ideoclick Lightbulb" height="125px">
        <h1>FULFILLMENT SERVICES</h1><br>
        <hr>
        <h2>Sell More Effectively with E-Commerce Partners and Marketplaces</h2>
      </div>
    </div><!-- /.row -->
    <br>
    <div class="row justify-content-center">
      <div class="col-lg-5 vertline">
        <h4>Item Setup & Management</h4>
        <ul>
          <li>Our experienced team creates new asins and/or creates FBA offers for existing asins.</li>
          <li>We ensure continued data quality and item performance.</li>
        </ul>
        <h4>Inventory Management</h4>
        <ul>
          <li>Our team handles inventory forecasting, planning & shipment creation/support.</li>
        </ul>
        <h4>Reporting</h4>
        <ul>
          <li>You get access to a range of reports covering a wide range of metrics covering sales, inventory, promotions and more.</li>
        </ul>
        <h4>Troubleshooting</h4>
        <ul>
          <li>We’re your partner in contact-us queue management, item maintenance & conflict resolution.</li>
        </ul>
        <h4>Ongoing Guidance</h4>
        <ul>
          <li>We are e-commerce and Amazon experts and here to help guide and provide solutions as your business evolves and expands.</li>
        </ul>
      </div>
      <div class="col-lg-5">
        <h4>Recieve and Experiance:</h4>
        <ul>
          <li>A Experienced & Responsive Team</li>
          <li>Selling Inside Of Three Weeks</li>
          <li>Access To (and Control of) Data</li>
          <li>Aligned Goals & Guidance</li>
          <li>Pricing Management, Your Control</li>
          <li>Inventory Guidance, Your Control</li>
          <li>Setup Guidance & Transparent Costs</li>
          <li>Limitless and Flexible Promotions</li>
          <li>No Co-op, Transparent Cost Structure & Fewer Chargebacks</li>
        </ul>
      </div>
    </div>
    <div class="row justify-content-center bg-light" >
      <div class="col-lg-10" align="center">
        <br>
        <h2>Use FBA to Optimize Amazon Sales & Customer Satisfaction</h2>
        <h5>Your consumers are shifting to digital and digitally-influenced shopping. Amazon.com will soon ship same-day to most of your consumers and is now the leading starting point for online product information. As a powerful platform to reach shoppers, it’s more important than ever to control your brand image on Amazon.com</h5>
        <br>
      </div>
      <div class="col-lg-7">
        <h6>Ideoclick helps you control consumer offers, manage promotions, ensure availability, and collect purchase data.</h6>
        <ul>
          <li>Avoid lengthy product set-up processes – with Ideoclick you’re up and running quickly.</li>
          <li>Design and control consumer offers and programs – offer the promotions that you want.</li>
          <li>Control funding – discounts go direct to consumers and all costs are transparent.</li>
          <li>Set inventory and safety stock levels – drive sales with reliable purchase options.</li>
          <li>Improve data quality – access your data through powerful tools.</li>
        </ul>
        <br>
      </div>
    </div><!-- /.row -->

    <div class="row justify-content-center" >
      <div class="col-lg-10" align="center">
        <br>
        <h2>Support Your Amazon Retail Businesses with FBA Offers & Ideoclick Fulfillment Services (ICFS)</h2>
        <br>
      </div>
      <div class="col-lg-5">
        <h6>Amazon’s Retail offer converts at highest rate; FBA a close second.</h6>
        <ul>
          <li>Dependable delivery & customer service.</li>
          <li>Subscribe & Save.</li>
        </ul>
        <h6>FBA allows manufacturer to apply subject matter expertise.</h6>
        <ul>
          <li>Same dependable delivery & customer experience.</li>
          <li>Complete inventory control to support variability not anticipated by Amazon’s systems.</li>
        </ul>
      </div>
    </div><!-- /.row -->
  </section>

    <!-- Footer -->
    <footer class="py-5 bg-dark">
      <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; Ideoclick, Inc. 2017</p>
      </div>
      <!-- /.container -->
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="{% static 'main/scrollingnavbar/vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'main/scrollingnavbar/vendor/popper/popper.min.js' %}"></script>
    <script src="{% static 'main/scrollingnavbar/vendor/bootstrap/js/bootstrap.min.js' %}"></script>

    <!-- Plugin JavaScript -->
    <script src="{% static 'main/scrollingnavbar/vendor/jquery-easing/jquery.easing.min.js' %}"></script>

    <!-- Custom JavaScript for this theme -->
    <script src="{% static 'main/scrollingnavbar/js/scrolling-nav.js' %}"></script>

  </body>

</html>
